# NYPD Motor Vehicle Collisions Prediction

Data loading in 
------

In [12]:
import numpy as np
import pandas as pd
data_path='/Users/apple/Desktop/Projects/dataset_NYPD/'

In [18]:
#load NYPD data
year=['2014','2015','2016']
month=['01','02','03','04','05','06','07','08','09','10','11','12']
area_name=['bk','bx','mn','qn','si']
#intersection
data_collisions = pd.read_excel(''.join([data_path,'NYPD/',year[2],'_',month[8],'_col_excel/',area_name[0],'acc-en-us.xlsx']),
                     sheetname='IntersectCollisions_1', header=3, skiprows=3)
data_collisions = pd.DataFrame(data_collisions)

data_VandF = pd.DataFrame(dataVandF)

In [22]:
#load NYC open data
data_collisions = pd.read_csv(''.join([data_path,'NYPD_Motor_Vehicle_Collisions.csv']))
data_collisions = pd.DataFrame(data_collisions)

In [27]:
data_collisions_main=data_collisions[['DATE','TIME','ZIP CODE',
                                      'NUMBER OF PERSONS INJURED','NUMBER OF PERSONS KILLED']]

In [33]:
data_collisions.shape

(916484, 29)

In [44]:
# Is it enough if when drop all instances with missing zip code?
print('Total collisions: ',len(data_collisions_main['ZIP CODE']))
print('ZIP CODE is missing: ',sum(pd.isnull(data_collisions_main['ZIP CODE'])))
print('Both ZIP CODE and LOCATION are missing: ',sum(pd.isnull(data_collisions['ZIP CODE'])&pd.isnull(data_collisions['LOCATION'])))

Total collisions:  916484
ZIP CODE is missing:  233326
Both ZIP CODE and LOCATION are missing:  157749

In [99]:
position_nan = data_collisions_main['ZIP CODE'].notnull()
collisions=data_collisions_main[position_nan]
collisions.index=range(0,len(collisions))

In [102]:
collisions.rename(columns={'ZIP CODE': 'ZIPCode'}, inplace=True)
collisions.ZIPCode=collisions.ZIPCode.astype(int)
collisions[0:10]

/Users/apple/anaconda3/lib/python3.5/site-packages/pandas/core/frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)
/Users/apple/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,DATE,TIME,ZIPCode,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED
0,09/18/2016,19:09,11422,0,0
1,09/18/2016,19:09,11237,2,0
2,09/18/2016,1:09,10012,0,0
3,09/18/2016,20:09,11229,0,0
4,09/18/2016,20:09,10003,0,0
5,08/12/2016,1:08,11377,2,0
6,08/12/2016,20:08,10460,0,0
7,08/12/2016,20:08,10466,0,0
8,08/12/2016,20:08,11216,0,0
9,08/12/2016,20:08,11226,0,0

In [103]:
import datetime
DATEandTIME=[]
for i in range(0,len(collisions)):
    DATEandTIME.append(datetime.datetime.strptime(''.join([collisions['DATE'][i],collisions['TIME'][i]]), "%m/%d/%Y%H:%M"))

In [104]:
collisions['DATEandTIME']=DATEandTIME

/Users/apple/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [106]:
collisions=collisions.drop(['DATE','TIME'],1)

In [107]:
collisions[0:10]

,ZIPCode,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,DATEandTIME
0,11422,0,0,2016-09-18 19:09:00
1,11237,2,0,2016-09-18 19:09:00
2,10012,0,0,2016-09-18 01:09:00
3,11229,0,0,2016-09-18 20:09:00
4,10003,0,0,2016-09-18 20:09:00
5,11377,2,0,2016-08-12 01:08:00
6,10460,0,0,2016-08-12 20:08:00
7,10466,0,0,2016-08-12 20:08:00
8,11216,0,0,2016-08-12 20:08:00
9,11226,0,0,2016-08-12 20:08:00

In [108]:
ZIP_Code_NYC=pd.read_csv(''.join([data_path,'zipcode.csv']))
ZIP_Code_NYC=pd.DataFrame(ZIP_Code_NYC)

In [178]:
ZIP_Code_NYC=ZIP_Code_NYC.drop_duplicates()
len(ZIP_Code_NYC)
ZIP_Code_NYC.index=range(0,240)

In [123]:
# data start 7/1/12
# data end 11/1/16
DATEandTIME = pd.date_range('7/1/2012','11/2/2016', freq='H')[:-1]

In [150]:
DATEandTIME

DatetimeIndex(['2012-07-01 00:00:00', '2012-07-01 01:00:00',
               '2012-07-01 02:00:00', '2012-07-01 03:00:00',
               '2012-07-01 04:00:00', '2012-07-01 05:00:00',
               '2012-07-01 06:00:00', '2012-07-01 07:00:00',
               '2012-07-01 08:00:00', '2012-07-01 09:00:00',
               ...
               '2016-11-01 14:00:00', '2016-11-01 15:00:00',
               '2016-11-01 16:00:00', '2016-11-01 17:00:00',
               '2016-11-01 18:00:00', '2016-11-01 19:00:00',
               '2016-11-01 20:00:00', '2016-11-01 21:00:00',
               '2016-11-01 22:00:00', '2016-11-01 23:00:00'],
              dtype='datetime64[ns]', length=38040, freq='H')

In [148]:
ZIP = np.repeat(ZIP_Code_NYC['zipcode'],len(DATEandTIME))
DATE = np.tile(DATEandTIME, len(ZIP_Code_NYC))
arrays = [ZIP,DATE]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['ZIPCode', 'DATEandTIME'])

In [156]:
Hour = np.tile(range(0,24),1585*len(ZIP_Code_NYC))

In [161]:
data = pd.DataFrame(Hour, index=index,columns=['Hour'])

In [172]:
Week=[]
for i in range(0,len(DATE)):
    Week.append(pd.to_datetime(DATE[i]).weekday())
data['Week']=Week

In [180]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2012-07-01', end='2016-11-1')
cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())
Holidays= dr.isin(holidays)
Holidays = np.repeat(Holidays, 24)
Holidays = np.tile(Holidays, len(ZIP_Code_NYC))
data['Holidays'] = Holidays

In [183]:
data[1:100]

                             Hour  Week Holidays
ZIPCode DATEandTIME
10001   2012-07-01 01:00:00     1     6    False
        2012-07-01 02:00:00     2     6    False
        2012-07-01 03:00:00     3     6    False
        2012-07-01 04:00:00     4     6    False
        2012-07-01 05:00:00     5     6    False
        2012-07-01 06:00:00     6     6    False
        2012-07-01 07:00:00     7     6    False
        2012-07-01 08:00:00     8     6    False
        2012-07-01 09:00:00     9     6    False
        2012-07-01 10:00:00    10     6    False
        2012-07-01 11:00:00    11     6    False
        2012-07-01 12:00:00    12     6    False
        2012-07-01 13:00:00    13     6    False
        2012-07-01 14:00:00    14     6    False
        2012-07-01 15:00:00    15     6    False
        2012-07-01 16:00:00    16     6    False
        2012-07-01 17:00:00    17     6    False
        2012-07-01 18:00:00    18     6    False
        2012-07-01 19:00:00    19     6    False
        2012-07-01 20:00:00    20     6    False
        2012-07-01 21:00:00    21     6    False
        2012-07-01 22:00:00    22     6    False
        2012-07-01 23:00:00    23     6    False
        2012-07-02 00:00:00     0     0    False
        2012-07-02 01:00:00     1     0    False
        2012-07-02 02:00:00     2     0    False
        2012-07-02 03:00:00     3     0    False
        2012-07-02 04:00:00     4     0    False
        2012-07-02 05:00:00     5     0    False
        2012-07-02 06:00:00     6     0    False
...                           ...   ...      ...
        2012-07-03 22:00:00    22     1    False
        2012-07-03 23:00:00    23     1    False
        2012-07-04 00:00:00     0     2     True
        2012-07-04 01:00:00     1     2     True
        2012-07-04 02:00:00     2     2     True
        2012-07-04 03:00:00     3     2     True
        2012-07-04 04:00:00     4     2     True
        2012-07-04 05:00:00     5     2     True
        2012-07-04 06:00:00     6     2     True
        2012-07-04 07:00:00     7     2     True
        2012-07-04 08:00:00     8     2     True
        2012-07-04 09:00:00     9     2     True
        2012-07-04 10:00:00    10     2     True
        2012-07-04 11:00:00    11     2     True
        2012-07-04 12:00:00    12     2     True
        2012-07-04 13:00:00    13     2     True
        2012-07-04 14:00:00    14     2     True
        2012-07-04 15:00:00    15     2     True
        2012-07-04 16:00:00    16     2     True
        2012-07-04 17:00:00    17     2     True
        2012-07-04 18:00:00    18     2     True
        2012-07-04 19:00:00    19     2     True
        2012-07-04 20:00:00    20     2     True
        2012-07-04 21:00:00    21     2     True
        2012-07-04 22:00:00    22     2     True
        2012-07-04 23:00:00    23     2     True
        2012-07-05 00:00:00     0     3    False
        2012-07-05 01:00:00     1     3    False
        2012-07-05 02:00:00     2     3    False
        2012-07-05 03:00:00     3     3    False

[99 rows x 3 columns]